<?xml version="1.0"?>
<!--
/**
 * @category Scandi
 * @package Scandi\Core
 * @author Dmitrijs Sitovs <dmitrijssh@majaslapa.lv / dsitovs@gmail.com>
 * @copyright Copyright (c) 2015 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Scandi_Core::all" title="Scandiweb" module="Scandi_Core" sortOrder="60" resource="Scandi_Core::all" />
    </menu>
</config>
